@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende <a href="https://github.com/EduardoLizarazu/WebAppAzure">Github y Integracion Continua</a>.</p>
</div>